/*/////////////////////无阴影的代码*/
.carousel-control.left {

    background-image:none;

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

}

.carousel-control.right {

    left: auto; right: 0;

    background-image:none;

    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);

}


@media only screen and (min-width: 1200px) {
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        height: 600px;
    }

}

/*//为什么要让孩子学习编程。*/
.codeKing,
.why-learn {
    display: flex;
    justify-content: center;
}
.codeKing img ,
.why-learn img {
    width: 50%;
}


/*///圆角属性。*/
.fillet {
    border-radius: 8px;
    background: #fff;
}

.stand {
    margin-top: 90px;
    margin-bottom: 56px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: #1f9d92;
}
.skill-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.skill-img1,
.skill-img2,
.skill-img3,
.skill-img4
{
    width: 178px;
    height: 178px;
    border-radius: 50%;
    background: #d2ebe9;

}
.skill-img1 {
    background-image: url("../images/computer.png");
    background-repeat: no-repeat;
    background-position: center;
}
.skill-img2 {
    background-image: url("../images/counter.png");
    background-repeat: no-repeat;
    background-position: center;
}
.skill-img3 {
    background-image: url("../images/magnet.png");
    background-repeat: no-repeat;
    background-position: center;
}
.skill-img4 {
    background-image: url("../images/light.png");
    background-repeat: no-repeat;
    background-position: center;
}

.skill .skill-img span {
    line-height: 76px;
    font-size: 14px;
    color:rgba(102,102,102,1);
    color: #666666;
}
.introduce img {
    border-radius: 8px;
}
.sort-line {
    width: 30px;
    height: 3px;
    background: #d2ebe9;
    display: table;
    margin-top: 60px;
    margin-left: calc(50% - 15px);
    margin-bottom: 90px;
}
.achievement {
    text-align: center;
    font-size: 17px;
    line-height: 40px;
    color: #1f9d92;
}
.create {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: #1f9d92;
}
.contact-us {
    text-align: center;
    color: #266996;
    font-size: 15px;
    line-height: 70px;
    background: #ccbecf;
    margin: 0 -15px;
    border-radius: 0 0 8px 8px;
}

@media only screen and (max-width: 1200px) {
    .contact-us {
        text-align: center;
        color: #266996;
        font-size: 15px;
        line-height: 24px;
        background: #ccbecf;
        margin: 0;
        padding: 0 15px;
        border-radius: 0 0 8px 8px;
    }
}


/*为什么要让孩子选择编程王*/
.select {
    border-radius: 8px;
    background: #fff;
}
.select-internet {
    color: #1f9d92;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 77px 0 60px;
}
.classroom {
    margin-top: 30px;
}
.classroom p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    color: #333;
}
.classroom ul {
    list-style: square inside;
}
.classroom li {
    line-height: 30px;
    color: #666;
}
.select-img  {
   display: flex;
    justify-content: center;
}


/*//轮播图的样式*/

ol.carousel-indicators li {
    border-radius: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #353535;
}

ol.carousel-indicators li.active {
    border-radius: 0;
    width: 13px;
    height: 13px;
    background: #353535;
}
.glyphicon {
    color: #353535;
}
/*轮播图左右宽度*/

.carousel-control {
    width: 70px;
}



.all-dc {
    margin: 30px 0 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.doctorint {
    display: flex;
    align-items: center;
    flex-direction: column;
     align-content: center;
}
.doctorint-img1
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-image: url(../images/doctorSu.png);
    background-repeat: no-repeat;
}
.doctorint-img2
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-image: url(../images/doctorDu.png);
    background-repeat: no-repeat;
}


.doctorint-img3 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-image: url(../images/doctorXue.png);
    background-repeat: no-repeat;
}
.doctorint p {
    font-weight: bold;
    color: #333;
}
.doctor-title {
    width: 208px;
    color: #666;
    line-height: 20px;
    margin: 0 0 0 calc(50% - 85px);

}
  .doctor-main {
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: calc(50% - 85px);
    color: #2ea499;
  }
  .fuil {
      margin-top: 40px;
      background: #ccbecf;
  }
.fuil-class {
    height:24px;
    font-size:20px;
    text-align: center;
    color:#266996;
    margin-top: 30px;
    line-height:47px;
}
.suit {
    height: 300px;
    color: #266996;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.suit p {
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}
.suit ul {
    padding: 0;
}
.suit span {
    width: 200px;
    line-height: 30px;
}
.suit img {
    margin-top: 30px;
}
.suit-pen {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
@media only screen and (max-width: 1200px) {
    .suit-pen {
        display: none;
    }
    .fuil-class {
        display: none;
    }
}



/*有趣的课堂中心*/
@media only screen and (min-width: 1200px) {
    .fun-img img {
        width: 70%;
        height: 280px;
        margin: auto;
        border-radius: 8px;
    }
}

.fun-img img {
    width: 70%;
    height: 280px;
    margin: auto;
    border-radius: 0 8px 8px 0;
}
.fun-img {
    display: flex;
    justify-content: center;
}
.fun-title {
    font-size: 14px;
    color: #6d6f6f;
}
.fun-title p {
    margin-top: 40px;
    color: #1f9d92;
    margin-left: 40px;
    font-size: 18px;
}
.fun-title span {
    line-height: 35px;
    margin-left: 40px;
}
.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #1f9d92;
}
.funint {
    display: inline-block;
}

@media only screen and (min-width: 1200px) {
    .fun {
        margin: 40px auto;
        width: 90%;
        height: 280px;
        border-radius: 8px;
        background: #d2ebe9;
    }
    .fun-img {
        padding: 0;
    }
    .fun-img img {
        width: 100%;
        height: 280px;
        border-radius: 0 8px 8px 0;
    }

}
@media only screen and (max-width: 1200px) {
    .fun-title {
        background: #d2ebe9;
        margin: 30px 0;
        border-radius: 8px;

    }
    .fun-img {
        margin-bottom: 40px;
    }
    .fun-img img {
        border-radius: 8px;
    }

}





.black-technology {
    margin: 40px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1f9d92;
}

.introduce {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.black-technology-int {
    line-height: 40px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-left: calc(50% - 115px);
}
.black-technology-jie {
    width: 230px;
    color: #666;
    line-height: 20px;
    margin-left: calc(50% - 115px);
}
.faceto {
    display: flex;
    justify-content: center;
}
.faceto img {
    height: 200px;
    margin-top: -25px;
    width: 50%;
    overflow: hidden;
}
.facetofuture {
    border-radius: 8px;
    background: #fff;
}
.datemate {
    width: 100%;
    height: 370px;
    padding: 60px 80px;
    margin-bottom: 20px;
}

.facetofuture-title {
    font-size: 20px;
    font-weight: bold;
    color: #1f9d92;
    line-height: 40px;
   margin: 40px;
}
.facetofuture-contai {
    margin: 40px;
    color: #747877;
}
.shiye {
    text-align: center;
    line-height: 132px;
    color:rgba(31,157,146,1);
    font-size: 18px;
}

@media only screen and (max-width: 1200px) {
    .datemate {
        padding: 60px 80px;
    }
}
.box {
    border-radius: 8px;
}
/*.box div {*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/
.box-box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    background: #d2ebe9;
    border-radius: 8px;
}
.box-box img {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

/*.box img {*/
    /*width: calc(100% - 30px);*/
/*}*/
.game-img {
    border-radius: 8px 8px 0 0;
}
.game-box {
    border-radius: 8px;
    color: #333;
    background: #d2ebe9;
}
@media only screen and (max-width: 1200px) {
    .game-box {
        margin-left:  calc(50% - 200px);
      width: 400px;
    }
}
.game-applet {
    margin-top: 30px;
    width: 128px;
    line-height: 38px;
    background: #f9c474;
    color: #7d6541;
    text-align: center;
    margin-left: calc(50% - 64px);
    transform:rotate(30deg);
}
.game p {
    margin-left: 30px;
}
.works {
    font-size: 12px;
   color: #abc3c1;
    font-weight: bold;
    line-height: 20px;
}
.game-box p {
    color: #2a2f2f;
}

.game-author img {
    width: 13px;
    margin-right: 10px;
}
.game-author {
    line-height: 30px;
    color: #48504f;
    font-size: 13px;
}






.class-environment {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.class-environment-add {
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    color: #666;
}
.environment {
    padding: 11px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.environment img {
    width: 300px;
    height: 300px;
}

@media only screen and (min-width: 1200px) {
    .environment img {
        width: 100%;
        height: 300px;
    }
}
.class-map {
    margin-bottom: 20px;
    height: 335px;
    width: 87%;
}
.widdth {
    width: 87%;
    margin: auto;
}


/*修改百度地图*/

.BMap_stdMpPan {
    display: none;
}
.BMap_stdMpCtrl div {
    display: none;
}
.BMap_scaleCtrl div {
    display: none;
}
.class-map span {

    display: none;
}
.anchorBL img {
    display: none;
}

.BMap_omCtrl {
    display: none;
}

.about-img {
    margin: 20px auto;
    height: 200px;
    width: 87%;
    background-image: url("../images/map-about.png");
    background-repeat: no-repeat;
    background-size:100%;
}