<form  name="addForm">
    <div class="row yan">
        <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="right"><img src="../luoboduo-backstage/img/star.svg">标题:</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9">
            <input type="text" id="title"
                   ng-model=" edit.addtitle"
                   placeholder="请输入标题"
                   name="addtitle"
                   ng-minlength="3"
                   ng-maxlength="10"
                   required>
            <div style="display: inline-block" class="error" ng-if="!addForm.addtitle.$touched"></div>
            <div style="display: inline-block"  class="error" ng-messages="addForm.addtitle.$error" >
                <span ng-message="minlength">标题不能少于两个字符</span>
                <span ng-message="maxlength">标题不能多于二十个字符</span>
                <span ng-message="required">标题必填</span>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="right"><img src="../luoboduo-backstage/img/star.svg">类型:</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9">
            <select  name="addType" ng-model="edit.addType" ng-options="y.value as y.text for y in searchTypes" required></select>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3" ng-if="edit.addType === 3">
            <div  class="right"><img src="../luoboduo-backstage/img/star.svg">行业:</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9" ng-if="edit.addType === 3">
            <select   name="addType" ng-model="edit.industry" required ng-options="y.value as y.text for y in  industrys"></select>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="right">说明:</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9">
            <div id="editor">
                <p>给这个数据添加一点描述吧！</p>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="right"><img src="../luoboduo-backstage/img/star.svg">跳转链接</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9">
            <input type="url" id="add-rul"
                   ng-model="edit.articleurl"
                   placeholder="请输入跳转链接"
                   name="articleurl"
                   required>
            <div style="display: inline-block" class="error" ng-if="!addForm.articleurl.$touched"></div>
            <div style="display: inline-block"  class="error" ng-messages="addForm.articleurl.$error">
                <span ng-message="url">链接不合法</span>
                <span ng-message="required">链接跳转地址必填</span>

            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
            <div class="right"><img src="../luoboduo-backstage/img/star.svg">配图:</div>
        </div>
        <div class="col-xs-9 col-md-9 col-lg-9 canvas">
            <input style="width: 57px;" type="file" nv-file-select="" uploader="uploader" id="filechange" required multiple /><br/>
            <img style="width: 100px;height: 100px;" ng-show="isimg" src="{{isimg}}">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">图片显示</th>
                        <th ng-show="uploader.isHTML5">大小</th>
                        <th ng-show="uploader.isHTML5">上传过程</th>
                        <th>上传状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" >
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                上传
                            </button>

                            <button type="button" class="btn btn-danger btn-xs"   ng-click="item.remove();clearImg()">
                              移除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-9 col-md-9 col-lg-9">
            <button class="btn btn-success" ng-disabled="addForm.$invalid  || !isimg " ng-click="online(1)">立即上线</button>
            <button class="btn btn-success" ng-disabled="addForm.$invalid || !isimg " ng-click="online(2)">存为草稿</button>
            <div class="btn btn-warning cancel" ng-click="cancel()">取消</div>
        </div>

    </div>
</form>

